<manifest xmlns:android="http://schemas.android.com/apk/res/android" 
    xmlns:tools="http://schemas.android.com/tools"
  package="com.example.flutter_w2a">

  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE" />

    <application>
        <activity
            android:name="com.huntmobi.web2app.app.WebActivity"
            android:exported="false"
            android:label="@string/title_activity_main"
            android:theme="@style/OnePxActivityStyle"/>
    </application>

</manifest>
